<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="nav_wrapper">
            <nav>
                <a href="/" class="logo">
                    BASHO
                </a>
                <ul>
                    <li>
                        <a href="#">
    
                        </a>
                    </li>
                    <li class="round">
                        <a href="#">
                            USERIMG
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <main>
            <h1>Heatmap</h1>
            <section>
                <!-- Filters? -->
            </section>

            <div class="heatmap_wrapper">
                <!-- Heatmap Visualisation -->
                <div class="error">
                    <h1>Oops.</h1>
                    <h3>It seems that we can't reach our application servers.</h3>
                </div>
            </div>
        </main>
    </div>
</body>
</html>